*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle/1.11/taskArtifacts/cache.properties

.gradle/1.11/taskArtifacts/cache.properties.lock

.gradle/1.11/taskArtifacts/fileHashes.bin

.gradle/1.11/taskArtifacts/fileSnapshots.bin

.gradle/1.11/taskArtifacts/outputFileStates.bin

.gradle/1.11/taskArtifacts/taskArtifacts.bin

build/libs/gs-rest-service-0.1.0.jar.original

build/tmp/jar/MANIFEST.MF

.gradle/2.2/taskArtifacts/cache.properties

.gradle/2.2/taskArtifacts/cache.properties.lock

.gradle/2.2/taskArtifacts/fileHashes.bin

.gradle/2.2/taskArtifacts/fileSnapshots.bin

.gradle/2.2/taskArtifacts/outputFileStates.bin

.gradle/2.2/taskArtifacts/taskArtifacts.bin

PMC_Server.iml

PMC_Server.ipr

PMC_Server.iws
=======
libraries

build/*
build/libs/pmc-rest-service-0.1.0.jar.original

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/dictionaries/stephaneki.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/uiDesigner.xml

.idea/vcs.xml

.idea/workspace.xml
/local.properties

local.properties
